/* general properties */

body {
	font-size: 25%;
	font-family: 'Shadows Into Light', cursive;
	background: #E9E49D url("../images/background.png") repeat;
}


a {
	color: #FA8334;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
	background-color: #617129 !important;
	color: #E9E49D;
	border-color: #617129;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
	border-color: #FA8334 !important ;
	box-shadow: none !important;
}

.btn-primary:hover {
	color: #FA8334;
	border-color: #617129;
}

/* upper navbar layout */

.navbar-custom {
	padding: 0.1em 2em;
	background-color: #2C3312;
	z-index: 2;
}

.navbar-brand {
	font-size: 7em;
	color: #FA8334;
}

.menu-links {
	font-size: 5em;
	color: #FA8334;
}

.nav-link {
	padding: 0;
}

.navbar-brand:hover {
	color: #E9E49D;
}

.menu-links:hover {
	color: #E9E49D;
}

.custom-toggler .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FA8334' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:active {
	border: 2px #FA8334 solid;
	border-radius: 5px;
}

.dropdown-menu {
	background-color: #2C3312;
}

.dropdown-item {
	color: #FA8334;
}

.dropdown-item:hover {
	background-color: #E9E49D;
}

.dropdown-divider {
	border-top: 1px solid #FA8334;
}

.transparent {
	opacity: 0.9;
}

/* The Overlay (background) */

.overlay {
	/* Height & width depends on how you want to reveal the overlay (see JS below) */
	height: 0;
	width: 100%;
	position: fixed; /* Stay in place */
	z-index: 3; /* Sit on top */
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0); /* Black fallback color */
	background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
	overflow-y: hidden; /* Disable horizontal scroll */
	transition: 0.333s; /* transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
	position: relative;
	top: 5%; /* 5% from the top */
	width: 100%; /* 100% width */
	text-align: center; /* Centered text/links */
	margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* Images inside overlay*/
.logos {
	height: 10%;
	width: 10%;
	margin: 5px;
}

/* Text inside overlay */
.overlay p {
	text-decoration: none;
	color: #E9E49D;
	display: block; /* Display block instead of inline */
	/*transition: 0.3s; !* Transition effects on hover (color) *!*/
}

@media screen and (max-width: 400px) {
	.overlay p {
		padding: 3px;
		font-size: 4.5vw;
	}
}

@media screen and (min-width: 401px) and (max-width: 600px) {
	.overlay p {
		padding: 3px;
		font-size: 3.75vw;
	}
}

@media screen and (min-width: 601px) and (max-width: 800px) {
	.overlay p {
		padding: 3px;
		font-size: 3.0vw;
	}
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
	.overlay p {
		padding: 3px;
		font-size: 2vw;
	}
}

@media screen and (min-width: 1201px) {
	.overlay p {
		padding: 3px;
		font-size: 1.25vw;
	}
}

/* The navigation links inside the overlay */
.overlay a {
	text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
	color: #E9E49D;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}

.overlay-title {
	margin-top: 0;
	padding-top: 0;
	color: #FA8334;
}

.about-links * {
	margin: 2px;
}

#photo {
	height: 20vh;
	width: auto;
	margin: 1em 1em 1em 2em;
	float: left;

}

/* jumbotron layout */

#website-title {
	display: inline;
	font-size: 12em;
	vertical-align: middle;
	font-family: "Pacifico", cursive;
	padding-left: 0;
	color: #617129;
}

#website-slogan {
	font-size: 6em;
	font-weight: bold;
	margin-bottom: 0;
}

.jumbotron {
	margin-top: 15em;
	padding: 3em;
	margin-bottom: 0.4em;
	margin-right: 0;
	background: #FA8334 url("../images/jumboimg.jpg");
	box-shadow: 0 0 5px 5px #FA8334 inset;
	border: groove #E9E49D;
}

.magic-button {
	background: #E9E49D;
	background-image: -webkit-linear-gradient(top, #E9E49D, #617129);
	background-image: -moz-linear-gradient(top, #E9E49D, #617129);
	background-image: -ms-linear-gradient(top, #E9E49D, #617129);
	background-image: -o-linear-gradient(top, #E9E49D, #617129);
	background-image: linear-gradient(to bottom, #E9E49D, #617129);
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	height: 50px;
	line-height: 50px;
	color: #FFAE00;
	font-family: 'Shadows Into Light', cursive;
	width: 50px;
	font-size: 25px;
	font-weight: 900;
	padding: 0;
	box-shadow: 1px 1px 20px 0 #2C3312;
	-webkit-box-shadow: 1px 1px 20px 0 #2C3312;
	-moz-box-shadow: 1px 1px 20px 0 #2C3312;
	text-shadow: 1px 1px 20px #000000;
	border: solid #E9E49D 1px;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	cursor: pointer;
}

.magic-button:hover {
	background: #617129;
	background-image: -webkit-linear-gradient(top, #617129, #E9E49D);
	background-image: -moz-linear-gradient(top, #617129, #E9E49D);
	background-image: -ms-linear-gradient(top, #617129, #E9E49D);
	background-image: -o-linear-gradient(top, #617129, #E9E49D);
	background-image: linear-gradient(to bottom, #617129, #E9E49D);
	text-decoration: none;
	color: #FA8334;
}

/* main content and sidebar general*/
.row {
	padding: 0;
	margin: 0;
}

/* sidebar layout */

.sidenav {
	padding-top: 1em;
	padding-left: 1em;
	font-size: 5em;
	z-index: 1;
	/*background: #617129 url("../images/sidenav.png") repeat;*/
	background-color: #617129;
	box-shadow: 0 0 3px 3px #617129 inset;
	border: groove #E9E49D;
}

.sidenav-text {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

.sidenav-text:hover {
	text-decoration: none;
	color: #E9E49D;
}

.list-group-item {
	background-color: #617129;
	padding-left: 0.5em;
}

.list-group-item.active {
	color: #FA8334;
	background-color: #0b2e13;
	border: none;
}

.sidebar-content {
	margin-top: 2.3em;
}

.nav-link.active {
	color: #FA8334;
}

/* carousel layout */

.carousel-inner img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
	border: groove #E9E49D;
}

.carousel-indicators {
	color: #E9E49D;
	z-index: 1;
}

.carousel-indicators .active {
	background-color: #FA8334;
	z-index: 1;
}

.carousel-buttons {
	font-size: 5em;
}

.carousel-caption {
	color: #E9E49D;
}

/* carousel previous and next button styling */

.carousel-control-prev-icon,
.carousel-control-next-icon {
	height: 100px;
	width: 100px;
	outline: black;
	background-size: 100%, 100%;
	border-radius: 50%;
	border: 1px solid black;
	background-image: none;
}

.carousel-control-next-icon:after
{
	content: '>';
	font-size: 55px;
	color: #E9E49D;
}

.carousel-control-prev-icon:after {
	content: '<';
	font-size: 55px;
	color: #E9E49D;
}

/* magic button layout */

/*.magic-button {*/
	/*height: 37px;*/
	/*width: 37px;*/
	/*background: url("../images/logo.png") no-repeat;*/
/*}*/

/* main content space */

.main {
	margin: 0;
	padding: 0 0 0 0.4em;
	overflow: auto;
}

/* project sections */

.text-section {
	font-size: 500%;
	margin-top: 0.2em;
	background-color: #E9E49D;
	border-radius: 5px;
	padding: 0.5em;
	border: groove #E9E49D;
}

.thumbnail-and-button {
	max-width: 50%;
	float: right;
	margin-left: 0.5em;
	text-align: center;
}

.thumbnail {
	width: 100%;
	border: groove #E9E49D;
	margin-bottom: 0.5em;
}

/* footer layout */

.page-footer {
	background-color: #FA8334;
	text-align: center;
	border: groove #E9E49D;
}

