/* general properties */

body {
    font-size: 25%;
    font-family: 'cyruliksharp', serif;
    background: #E9E49D url("../images/background.png") repeat;
}

a {
    color: #FA8334;
}

/* button effects */

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #617129 !important;
    color: #E9E49D;
    border-color: #617129;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    transition: 0.333s;
    border-color: #FA8334 !important;
    box-shadow: none !important;
}

.btn-primary:hover {
    transition: 0.333s;
    color: #FA8334;
    border-color: #617129;
}

/* upper navbar layout */

.navbar-custom {
    padding: 0.1em 2em;
    background-color: #2C3312;
    z-index: 2;
}

.navbar-brand {
    font-size: 7em;
    color: #FA8334;
}

.menu-links {
    font-size: 5em;
    color: #FA8334;
}

.nav-link {
    padding: 0;
}

.navbar-brand:hover {
    transition: 0.333s;
    color: #E9E49D;
}

.menu-links:hover {
    transition: 0.333s;
    color: #E9E49D;
    text-decoration: underline;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FA8334' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:active {
    border: 2px #FA8334 solid;
    border-radius: 5px;
}

.dropdown-menu {
    background-color: #2C3312;
}

.dropdown-item {
    color: #FA8334;
}

.dropdown-item:hover {
    color: #2C3312;
    background-color: #E9E49D;
}

.dropdown-divider {
    border-top: 1px solid #FA8334;
}

.transparent {
    opacity: 0.9;
}

/* The Overlay (background) */

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow: hidden; /* Disable scroll */
    transition: 0.333s; /* transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    /*top: 5%; !* 5% from the top *!*/
    max-width: 90%; /* 90% width */
    max-height: 90%; /* 90% height */
    text-align: center; /* Centered text/links */
    margin: 0 auto;
}

.overlay-scrollable {
    overflow: auto;
}

.overlay-scrollable::-webkit-scrollbar {
    width: 6px;
    background-color: #E9E49D;
}

.overlay-scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #FA8334;
}

/* Images inside overlay*/
.logos {
    height: 10%;
    width: 10%;
    margin: 5px;
}

#logo-container {
    margin: 5em;
}

/* Text inside overlay */
.overlay p {
    text-decoration: none;
    color: #E9E49D;
    padding: 10px;
    display: block; /* Display block instead of inline */
    /*transition: 0.3s; !* Transition effects on hover (color) *!*/
}

/* The navigation links inside the overlay */
.overlay a {
    text-decoration: none;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #E9E49D;
}

.overlay .dropdown-menu {
    background-color: black;
}

.overlay .dropdown-item:hover {
    color: #2C3312;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0;
    left: 0.33em;
    font-size: 5vw;
    font-weight: bold;
}

.overlay-title {
    margin-top: 0;
    padding-top: 0;
    color: #FA8334;
}

.about-links * {
    margin: 2px;
}

.photo {
    height: 20vh;
    width: auto;
    margin: 1em 1em 1em 2em;
    float: left;

}

/* jumbotron layout */

#jumbotron {
    margin-top: 15em;
    padding: 1em;
    margin-bottom: 1em;
    margin-right: 0;
    background: #FA8334 url("../images/jumboimg.jpg");
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.75), inset 0 0 5px 10px rgba(250, 131, 52,1);
    -moz-box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.75), inset 0 0 5px 10px rgba(250, 131, 52,1), inset 0 0 6px 3px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.75), inset 0 0 5px 10px rgba(250, 131, 52,1), inset 0 0 6px 3px rgba(0, 0, 0, 0.75);
}

#website-title {
    float: left;
    display: inline;
    font-size: 12em;
    vertical-align: middle;
    font-family: "cyrulikstencil", serif;
    padding-left: 0.2em;
    color: #2C3312;
    position: relative;
    top: -0.25em;
    text-shadow: 1px 1px 20px #000000;
}

#website-slogan {
    font-size: 6em;
    font-weight: bold;
    margin-top: 0;
    margin-left: 0.5em;
    margin-bottom: 0;
    text-shadow: 1px 1px 20px #000000;
}

#magic-button-wrapper {
    padding: 2em;
}

#jumbotron-content {
    overflow: hidden;
}

/* magic button layout */

.magic-button {
    float: left;
    color: #E9E49D;
    background: #E9E49D;
    background-image: -webkit-linear-gradient(top, #E9E49D, #617129);
    background-image: -moz-linear-gradient(top, #E9E49D, #617129);
    background-image: -ms-linear-gradient(top, #E9E49D, #617129);
    background-image: -o-linear-gradient(top, #E9E49D, #617129);
    background-image: linear-gradient(to bottom, #E9E49D, #617129);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 60px;
    /*line-height: 30px;*/
    width: 60px;
    padding: 0;
    box-shadow: 1px 1px 20px 0 #2C3312;
    -webkit-box-shadow: 1px 1px 20px 0 #2C3312;
    -moz-box-shadow: 1px 1px 20px 0 #2C3312;
    text-shadow: 1px 1px 10px #000000;
    border: solid #E9E49D 1px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.magic-button:hover {
    transition: 0.333s;
    background: #617129;
    background-image: -webkit-linear-gradient(top, #617129, #E9E49D);
    background-image: -moz-linear-gradient(top, #617129, #E9E49D);
    background-image: -ms-linear-gradient(top, #617129, #E9E49D);
    background-image: -o-linear-gradient(top, #617129, #E9E49D);
    background-image: linear-gradient(to bottom, #617129, #E9E49D);
    text-decoration: none;
    color: #617129 !important;
}

/* magic button pressed effect */

.magic-button:active {
    box-shadow: 1px 1px 3px 0 #2C3312;
    -webkit-box-shadow: 1px 1px 3px 0 #2C3312;
    -moz-box-shadow: 1px 1px 3px 0 #2C3312;
}

.char {
    /*font: 26px Monaco, MonoSpace;*/
    font-size: 25px;
    font-weight: 900;
    height: 28px;
    position: absolute;
    width: 0;
    /*left: 50%;*/
    /*top: 25%;*/
    transform-origin: bottom center;
}

.char-1 {
    transform: rotate(180deg);
}

.char-1:hover {
    color: #617129;
}

.char-2 {
    transform: rotate(210deg);
}

.char-3 {
    transform: rotate(240deg);
}

.char-4 {
    transform: rotate(270deg);
}

.char-5 {
    transform: rotate(300deg);
}
.char-6 {
    transform: rotate(330deg);
}

.char-7 {
    transform: rotate(360deg);
}

.char-8 {
    transform: rotate(30deg);
}

.char-9 {
    transform: rotate(60deg);
}

.char-10 {
    transform: rotate(90deg);
}

.char-11 {
    transform: rotate(120deg);
}

.char-12 {
    transform: rotate(150deg);
}

/* main content and sidebar general*/

.row {
    padding: 0;
    margin: 0;
}

/* sidebar layout */

.sidenav {
    padding-top: 1em;
    padding-left: 1em;
    font-size: 5em;
    z-index: 1;
    /*background: #617129 url("../images/sidenav.png") repeat;*/
    background-color: #617129;
    border-radius: 5px;
}

.sidenav-text {
    font-family: 'cyrulikstencil', serif;
    text-decoration: none;
    color: #000;
}

.sidenav-text:hover {
    transition: 0.333s;
    text-decoration: underline;
    color: #E9E49D;
}

.list-group-item {
    background-color: #617129;
    padding-left: 0.5em;
}

.list-group-item.active {
    color: #FA8334;
    background-color: #0b2e13;
    border: none;
}

.sidebar-content {
    margin-top: 2.3em;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-link.active {
    color: #FA8334;
}

/* main content space */

.main {
    margin: 0;
    padding: 0 0 0 0;
    overflow: auto;
}

@media screen and (min-width: 801px) {

    .main {
        margin: 0;
        padding: 0 0 0 1em;
        overflow: auto;
    }
}


/* carousel layout */

#Section0 {
    border-radius: 5px;
    padding: 0.5em;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(233, 228, 157, 1);
    overflow: hidden;
    /*margin-left: 1em;*/
}

.carousel-indicators {
    z-index: 1;
}

.carousel-indicators li {
    background-color: rgba(233, 228, 157, 0.5);
}

.carousel-indicators .active {
    background-color: #FA8334;
    z-index: 1;
}

.carousel-caption {
    color: #E9E49D;
}

.carousel-caption.upper {
    top: 0;
    bottom: auto;
}

.carousel-caption.lower {
    top: auto;
    bottom: 2em;
}

/* carousel previous and next button styling */

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: '>';
    font-size: 55px;
    color: #E9E49D;
}

.carousel-control-prev-icon:after {
    content: '<';
    font-size: 55px;
    color: #E9E49D;
}

/* project sections */

.text-section {
    font-size: 500%;
    background-color: #E9E49D;
    border-radius: 5px;
    padding: 0.75em;
    margin-top: 0.35em;
}

.thumbnail-and-button {
    max-width: 50%;
    float: right;
    margin-left: 0.5em;
    text-align: center;
}

.thumbnail {
    width: 100%;
    border: groove #E9E49D;
    margin-bottom: 0.5em;
}

/* Project screenshot overlay styling section */

.screenshots-column {
    display: inline-block;
    width: 15%;
    padding: 5px;
}

/* Style the images inside the grid */
.screenshots-column img {
    opacity: 0.8;
    cursor: pointer;
}

.screenshots-column img:hover {
    opacity: 1;
}

.screenshots-row {
    text-align: center;
}
/* Clear floats after the columns */
.screenshots-row:after {
    content: "";
    display: table;
    clear: both;
}

/* The expanding image container */
.screenshots-container {
    position: relative;
    display: none;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* Expanding image text */
.screenshots-imgtext {
    bottom: 5px;
    color: #FA8334;
    font-size: 20px;
    margin: 0 auto;
}

/* Footer layout */
.page-footer {
    background-color: #FA8334;
    text-align: center;
    border-radius: 5px;
    padding: 2em 2em 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.indented {
    -webkit-box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0 0 6px 3px rgba(0, 0, 0, 0.75);
}

/* Screen size dependent elements scaling */

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
/*@media screen and (max-height: 450px) {*/
/*    .overlay a {*/
/*        font-size: 20px*/
/*    }*/

/*    .overlay. closebtn {*/
/*        font-size: 120px;*/
/*        top: 50px;*/
/*        right: 50px;*/
/*    }*/
/*}*/

/* Font sizing, headings and carousel indicators for smallest screens */
@media screen and (max-width: 400px) {

    body {
        font-size: 20%;
    }

    h1 {
        font-size: 1.57em;
    }

    .overlay p {
        padding: 1px;
        font-size: 4.25vw;
    }

    .overlay a {
        font-size: 5vw;
    }

    .overlay .closebtn {
        font-size: 10vw;
    }

    .carousel-caption.upper h2{
        font-size: 6em;
        margin: 0;
    }

    .carousel-caption.upper h5{
        font-size: 4em;
    }

    .carousel-caption.lower {
        bottom: 0;
        padding: 0;
    }

    .carousel-caption.lower a {
        margin: 0.1em;
        padding: 0.3em;
        font-size: 4em;
    }

    .carousel-indicators {
        margin: 0;
    }
}

@media screen and (min-width: 401px) and (max-width: 600px) {

    h1 {
        font-size: 1.65em;
    }

    .overlay p {
        font-size: 3.75vw;
    }

    .overlay .closebtn {
        font-size: 7.5vw;
    }

    .carousel-caption.upper h2{
        font-size: 7em;
        margin: 0;
    }

    .carousel-caption.upper h5{
        font-size: 4em;
    }

    .carousel-caption.lower {
        bottom: 0;
        padding: 0;
    }

    .carousel-caption.lower a {
        margin: 0.2em;
        padding: 0.35em;
        font-size: 4.5em;
    }

    .carousel-indicators {
        margin: 0.5em;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .overlay p {
        font-size: 3.0vw;
    }

    .overlay .closebtn {
        font-size: 6vw;
    }
}

@media screen and (min-width: 801px) and (max-width: 1200px) {
    .overlay p {
        font-size: 2vw;
    }
}

@media screen and (min-width: 1201px) {
    .overlay p {
        font-size: 1.25vw;
    }
}