/* general properties */
html {
    scroll-behavior: smooth;
    scroll-padding: 5em;
}

body {
    background-color: #E9E49D;
    font-size: 25%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100%;
    opacity: 1;
    transition: 1s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/* Website background */
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(233, 228, 157, 1) 50%, rgba(0, 0, 0, 0.35) 100%),
    #E9E49D url("../images/background.png") repeat fixed;
    will-change: transform;
}

/* Top navbar */
#navbar {
    --navbarLong: 95%;
    --navbarShort: 800px;
    width: 95%;
    background-color: transparent;
    margin: auto;
    will-change: transform;
}

.embedded {
    animation-name: embed-navbar;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    will-change: transform;
}

@keyframes embed-navbar {
    from {
        width: var(--navbarShort);
        margin: 1em auto 0 auto;
        background-color: #617129;
        box-shadow: inset 0 0 5px 0 #3A4318;
    }
    to {
        width: var(--navbarLong);
        margin:auto;
        background-color: transparent;
    }

}

.separated {
    animation-name: separate-navbar;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    will-change: transform;
}

@keyframes separate-navbar {
    from {
        width: var(--navbarLong);
        margin:auto;
        background-color: transparent;
    }
    to {
        width: var(--navbarShort);
        margin: 1em auto 0 auto;
        background-color: #617129;
        box-shadow: inset 0 0 5px 0 #3A4318;
    }
}

.border {
    border-width: 2px !important;
    border-color: #808D53 !important;
    border-radius: 5px !important;
}

.tan {
    color: #E9E49D;
}

.navbar a {
    color: #000;
    font-size: 5em;
    font-family: Asar, serif;
    font-weight: bold;
}

.navbar .dropdown-item {
    font-size: 1em;
}

.navbar .dropdown-item:hover {
    background-color: #E9E49D;
}

.navbar .dropdown-divider {
    border-top: 1px solid #FA8334;
}

.dropdown-menu {
    background-color: #617129;
}


.navbar a:hover, .navbar a:active {
    color: #FA8334;
}

/* general button effects */
.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #617129 !important;
    color: #E9E49D;
    border-width: 2px !important;
    border-color: #808D53 !important;
    border-radius: 5px !important;
    box-shadow: inset 0 0 5px 0 #3A4318, 5px 5px 5px 0 rgba(0, 0, 0, 0.5) !important;
    will-change: transform;

}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    transition: 0.333s;
    border-color: #FA8334;
    -webkit-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.5);
}

.btn:active {
    transition: 0.333s;
    border-color: #FA8334 !important;
    box-shadow: inset 0 0 5px 0 #3A4318, 1px 1px 1px 0 rgba(0, 0, 0, 0.5) !important;
}

.btn-primary:hover {
    transition: 0.333s;
    color: #FA8334;
}

/* overlays */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow: hidden; /* Disable scroll */
    transition: 0.2s; /* transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    will-change: transform;
}

.overlay-content {
    /*top: 5%; !* 5% from the top *!*/
    max-width: 90%; /* 90% width */
    max-height: 90%; /* 90% height */
    text-align: center; /* Centered text/links */
    margin: 0 auto;
}

.overlay-scrollable {
    overflow: auto;
}

.overlay-scrollable::-webkit-scrollbar {
    width: 6px;
    background-color: #E9E49D;
}

.overlay-scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #FA8334;
}

.logos {
    height: 10%;
    width: 10%;
    margin: 5px;
}

#logo-container {
    margin: 5em;
}

.overlay p {
    text-decoration: none;
    color: #E9E49D;
    display: block; /* Display block instead of inline */
    /*transition: 0.3s; !* Transition effects on hover (color) *!*/
}

.overlay a {
    font-size: 5em;
    margin: 0.25em;
    color: #FA8334;
}

.overlay a:hover {
    transition: 0.333s;
    color: #E9E49D;
}

.overlay .dropdown-menu {
    background-color: black;
}

overlay .dropdown-item {
    font-size: 1em;
}

.overlay .dropdown-divider {

}

.overlay .dropdown-item:hover {
    transition: 0.333s;
    color: #000;
    background-color: #E9E49D;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    left: 0.33em;
    font-size: 2vw;
    font-weight: bold;
}

.overlay-title {
    margin-top: 0;
    padding-top: 0;
    color: #FA8334;
}

.dropup {
    display: inline;
}

/*.about-links {*/
/*    margin-top: 3vw;*/
/*}*/

/*.about-links a {*/
/*    margin: 0.5vw;*/
/*}*/

.photo {
    height: 20vh;
    width: auto;
    margin: 2em 2em 2em 1em;
    float: left;
}

/* jumbotron layout */
.jumbotron {
    margin-top: 15em;
    margin-bottom: 3em;
    padding: 0;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    /*height: 33vh;*/
    background: transparent;
}

#jumbotron {
    /*margin-top: 15em;*/
    padding: 1em;
    /*margin-bottom: 1em;*/
    margin-right: 0;
    background: #FA8334 url("../images/jumboimg.jpg");
    border-radius: 5px;
    /*-webkit-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.75), inset 0 0 5px 10px rgba(250, 131, 52, 1);*/
    /*-moz-box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.75), inset 0 0 5px 10px rgba(250, 131, 52, 1), inset 0 0 6px 3px rgba(0, 0, 0, 0.75);*/
    /*box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.75), inset 0 0 5px 10px rgba(250, 131, 52, 1), inset 0 0 6px 3px rgba(0, 0, 0, 0.75);*/
}

#website-title {
    float: left;
    display: inline;
    font-size: 12em;
    vertical-align: middle;
    font-family: 'Asar', sans-serif;
    font-weight: bold;
    padding-left: 0.2em;
    color: #2C3312;
    position: relative;
    top: -0.25em;
    text-shadow: 1px 1px 20px #000000;
}

#website-slogan {
    font-size: 6em;
    font-weight: bold;
    margin-top: 0;
    margin-left: 0.5em;
    margin-bottom: 0;
    text-shadow: 1px 1px 20px #000000;
}

#magic-button-wrapper {
    padding: 2em;
}

#jumbotron-content {
    overflow: hidden;
}

/* magic button layout */
.magic-button {
    float: left;
    color: #E9E49D;
    background: #E9E49D;
    background-image: -webkit-linear-gradient(top, #E9E49D, #617129);
    background-image: -moz-linear-gradient(top, #E9E49D, #617129);
    background-image: -ms-linear-gradient(top, #E9E49D, #617129);
    background-image: -o-linear-gradient(top, #E9E49D, #617129);
    background-image: linear-gradient(to bottom, #E9E49D, #617129);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 60px;
    /*line-height: 30px;*/
    width: 60px;
    padding: 0;
    box-shadow: 1px 1px 20px 0 #2C3312;
    -webkit-box-shadow: 1px 1px 20px 0 #2C3312;
    -moz-box-shadow: 1px 1px 20px 0 #2C3312;
    text-shadow: 1px 1px 10px #000000;
    border: solid #E9E49D 1px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.magic-button:hover {
    transition: 0.333s;
    background: #617129;
    background-image: -webkit-linear-gradient(top, #617129, #E9E49D);
    background-image: -moz-linear-gradient(top, #617129, #E9E49D);
    background-image: -ms-linear-gradient(top, #617129, #E9E49D);
    background-image: -o-linear-gradient(top, #617129, #E9E49D);
    background-image: linear-gradient(to bottom, #617129, #E9E49D);
    text-decoration: none;
    color: #617129 !important;
}

/* magic button pressed effect */
.magic-button:active {
    box-shadow: 1px 1px 3px 0 #2C3312;
    -webkit-box-shadow: 1px 1px 3px 0 #2C3312;
    -moz-box-shadow: 1px 1px 3px 0 #2C3312;
}

.char {
    font-size: 25px;
    font-weight: 900;
    height: 28px;
    position: absolute;
    width: 0;
    transform-origin: bottom center;
}

.char-1 {
    transform: rotate(180deg);
}

.char-1:hover {
    color: #617129;
}

.char-2 {
    transform: rotate(210deg);
}

.char-3 {
    transform: rotate(240deg);
}

.char-4 {
    transform: rotate(270deg);
}

.char-5 {
    transform: rotate(300deg);
}

.char-6 {
    transform: rotate(330deg);
}

.char-7 {
    transform: rotate(360deg);
}

.char-8 {
    transform: rotate(30deg);
}

.char-9 {
    transform: rotate(60deg);
}

.char-10 {
    transform: rotate(90deg);
}

.char-11 {
    transform: rotate(120deg);
}

.char-12 {
    transform: rotate(150deg);
}

/* main content and sidebar general*/
#row {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 2em 0 0 0;
}

/* sidebar layout */
.sidenav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 5em;
    z-index: 1;
}

.sidenav-text {
    padding: 0;
    font-family: 'Asar', sans-serif;
    text-decoration: none;
    color: #000;
    text-shadow: 3px 3px 5px #666;
    transition-duration: 0.333s;
}

.sidenav-text:hover, .sidenav-text.hover {
    transition-duration: 0.333s;
    text-shadow: 1px 1px 3px #000000;
    text-decoration: none;
    color: #FA8334;
}

.sidenav-text:active, .sidenav-text.active {
    transition-duration: 0.333s;
    text-shadow: 1px 1px 3px #000000;
}

.list-group-item {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
}

.sidebar-content {
    margin-top: 4.3em;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-link.active {
    color: #FA8334;
}

/* main content space */
.main {
    margin: 0;
    padding: 0 0 0 0;
    overflow: auto;
}

/* carousel layout */

#theCarousel {
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 7em;
    /*width: 75%;*/
    /*margin-left: auto;*/
}

.tilt-in-fwd-br {
    -webkit-animation: tilt-in-fwd-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-fwd-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-fwd-br {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
        transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-fwd-br {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
        transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

.carousel-inner img {
    object-fit: scale-down;
    max-height: 90vh;
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;
}

.carousel-indicators {
    z-index: 1;
}

.carousel-indicators li {
    background-color: rgba(233, 228, 157, 0.5);
}

.carousel-indicators .active {
    background-color: #FA8334;
    z-index: 1;
}

.carousel-caption {
    color: #E9E49D;
}

.carousel-caption.upper {
    top: 0;
    bottom: auto;
}

.carousel-caption.lower {
    top: auto;
    bottom: 2em;
}

/* carousel previous and next button styling */

/*.carousel-control-prev,*/
/*.carousel-control-next {*/
/*    color: #fff;*/
/*}*/

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 100px;
    width: 100px;
    outline: black;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-image: none;
}

.carousel-control-next-icon:after {
    content: ">";
    font-size: 50px;
    color: #E9E49D;
    text-shadow: -2px -2px 0 #2C3312,
    2px -2px 0 #2C3312,
    -2px 2px 0 #2C3312,
    2px 2px 0 #2C3312;
}

.carousel-control-prev-icon:after {
    content: "<";
    font-size: 50px;
    color: #E9E49D;
    text-shadow: -2px -2px 0 #2C3312,
    2px -2px 0 #2C3312,
    -2px 2px 0 #2C3312,
    2px 2px 0 #2C3312;
}

/* text sections */

hr {
    margin-top: 0.5em;
    margin-bottom: 0;
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
}

hr.shadow {
    margin-top: 3px;
    margin-bottom: 0.5em;
    border: 0;
    height: 2px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .25)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    filter: blur(1px);
}

.text-section {
    font-size: 500%;
    text-shadow: 0 0 3px #999;
    padding: 0.75em;
    margin-top: 0.5em;
}

.text-section > h1 {
    font-family: 'Asar', sans-serif;
    text-shadow: 0 0 3px #000;
    color: #FA8334;
}

.left {
    text-align: right;
}

#section1photo {
    max-width: 20%;
    float: right;
    margin-left: 0.5em;
    text-align: center;
}

#main-photo {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.thumbnail-and-button-right {
    max-width: 40%;
    float: right;
    margin-left: 0.5em;
    text-align: center;
}

.thumbnail-and-button-left {
    max-width: 40%;
    float: left;
    margin-right: 2em;
    text-align: center;
}

.thumbnail {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

/* project screenshot overlay layout */
.screenshots-column {
    display: inline-block;
    width: 15%;
    padding: 5px;
}

/* style the images inside the grid */
.screenshots-column img {
    opacity: 0.8;
    cursor: pointer;
}

.screenshots-column img:hover {
    opacity: 1;
}

.screenshots-row {
    text-align: center;
}

/* clear floats after the columns */
.screenshots-row:after {
    content: "";
    display: table;
    clear: both;
}

/* expanding image container */
.screenshots-container {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* expanding image text */
.screenshots-imgtext {
    bottom: 5px;
    color: #FA8334;
    font-size: 20px;
    margin: 0.5em auto 0;
}

/* shake effect */
.shaky:hover {
    -webkit-animation: shake 0.3s linear infinite both;
    animation: shake 0.3s linear infinite both;
}

.shaky:active {
    animation: paused;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-1px, 1px);
    }
    40% {
        -webkit-transform: translate(-1px, -1px);
    }
    60% {
        -webkit-transform: translate(1px, 1px);
    }
    80% {
        -webkit-transform: translate(1px, -1px);
    }
    100% {
        -webkit-transform: translate(0);
    }
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-1px, 1px);
    }
    40% {
        transform: translate(-1px, -1px);
    }
    60% {
        transform: translate(1px, 1px);
    }
    80% {
        transform: translate(1px, -1px);
    }
    100% {
        transform: translate(0);
    }
}

/* shadow effect */
.my-shadow {
    -webkit-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.5);
}

.my-shadow:active {
    -webkit-box-shadow: 1px 1px 1px 0 rgba(1, 1, 1, 0.5);
    -moz-box-shadow: 1px 1px 1px 0 rgba(1, 1, 1, 1.5);
    box-shadow: 1px 1px 1px 0 rgba(1, 1, 1, 0.5);
}

.text-shadow {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}


/* font sizing, headings and carousel indicators for smallest screens */
@media screen and (max-width: 400px) {

    body {
        font-size: 20%;
    }

    h1 {
        font-size: 1.37em;
    }

    .overlay p {
        padding: 1px;
        font-size: 4.25vw;
    }

    .overlay a {
        font-size: 5vw;
    }

    .overlay .closebtn {
        font-size: 10vw;
    }

    .carousel-caption.upper h2 {
        font-size: 6em;
        margin: 0;
    }

    .carousel-caption.upper h5 {
        font-size: 4em;
    }

    .carousel-caption.lower {
        bottom: 0;
        padding: 0;
    }

    .carousel-caption.lower a {
        margin: 0.1em;
        padding: 0.3em;
        font-size: 4em;
    }

    .carousel-indicators {
        margin: 0;
    }

    #section1photo {
        max-width: 35%;
    }
}

/* text sizing for small screens */
@media screen and (min-width: 401px) and (max-width: 600px) {

    h1 {
        font-size: 1.47em;
    }

    .overlay p {
        font-size: 3.75vw;
    }

    .overlay .closebtn {
        font-size: 7.5vw;
    }

    .carousel-caption.upper h2 {
        font-size: 7em;
        margin: 0;
    }

    .carousel-caption.upper h5 {
        font-size: 4em;
    }

    .carousel-caption.lower {
        bottom: 0;
        padding: 0;
    }

    .carousel-caption.lower a {
        margin: 0.2em;
        padding: 0.35em;
        font-size: 4.5em;
    }

    .carousel-indicators {
        margin: 0.5em;
    }

    #section1photo {
        max-width: 30%;
    }
}

/* text sizing for medium screens */
@media screen and (min-width: 601px) and (max-width: 800px) {
    .overlay p {
        font-size: 3.0vw;
    }

    .overlay .closebtn {
        font-size: 6vw;
    }
}

/* prevent main content shift when sidebar is not displayed */
@media screen and (min-width: 991px) {

    .main {
        margin: 0;
        padding: 0 0 0 1em;
        overflow: auto;
    }
}

/* text sizing for large screens */
@media screen and (min-width: 801px) and (max-width: 1200px) {
    .overlay p {
        font-size: 2vw;
    }
}

/* text sizing for extra large screens */
@media screen and (min-width: 1201px) {
    .overlay p {
        font-size: 1.25vw;
    }
}