/* general properties */
html {
    scroll-behavior: smooth;
    scroll-padding: 5em;
}

body {
    background-color: #E9E49D;
    font-size: 25%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    height: 100%;
    opacity: 1;
    transition: 2s opacity ease-in;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

/* Website background */
.vignette {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, rgba(233, 228, 157, 1) 50%, rgba(0, 0, 0, 0.35) 100%),
    #E9E49D url("./images/background.png") repeat fixed;
    will-change: transform;
}

/* jumbotron layout */
.jumbotron {
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-color: transparent;
    height: 90vh;
    padding: 0;
}

#jumbotron-greeting {
    font-size: 10rem;
    font-family: 'Asar', sans-serif;
    color: #E9E49D;
    position: absolute;
    top: 25%;
    left: 33%;
    transform: translate(-50%, -50%);
    animation-name: pop-jumbotron-greeting;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 1.5s;
    animation-delay: 1.5s;
}

@keyframes pop-jumbotron-greeting {
    0% {
        text-shadow: none;
    }
    33% {
        text-shadow: -5px -3px 8px #EDE9B0, 6px 2px 12px #74724E;
    }
    66% {
        text-shadow: -5px -3px 8px #EDE9B0, 6px 2px 12px #74724E;
        color: #E9E49D;
    }
    100% {
        text-shadow: -5px -3px 8px #EDE9B0, 6px 2px 12px #74724E;
        color: #FA8334;
    }
}

#jumbotron-about-me {
    background: transparent;
    color: #3A4318;
    font-size: 1.5rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 35vw;
    right: 15%;
    min-height: 100vh;
    perspective: 200px;
    animation: perspective 2s ease-in;
    animation-fill-mode: forwards;
}

@keyframes perspective {
    0% { perspective: 100px; transform: scale(.5); }
    100% { perspective: 10000px; transform: scale(1); }
}

p {
    transform-style: preserve-3d;
}

span {
    display: inline-block;
}

#jumbotron-scroll-down-text {
    font-size: 1.5rem;
    font-family: 'Asar', sans-serif;
    color: #3A4318;
    position: absolute;
    top: 80%;
    left: -20%;
    animation: text-slide-right 2s ease-out;
    animation-fill-mode: forwards;
}

@keyframes text-slide-right {
    100% { left: 35%; }
}

#jumbotron-scroll-down-link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

#jumbotron-scroll-down-link a {
    font-size: 5rem;
    color: black;
}

#jumbotron-scroll-down-link a:hover {
    font-size: 5rem;
    color: #FA8334;
}


/* Top navbar */
#navbar {
    --navbarLong: 90%;
    --navbarShort: 800px;
    width: 90%;
    background-color: transparent;
    margin: auto;
    flex-flow: wrap;
}

.embedded {
    animation-name: embed-navbar;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes embed-navbar {
    from {
        width: var(--navbarShort);
        margin: 1em auto 0 auto;
        background-color: #617129;
        -webkit-box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 1px rgba(0,0,0,0.5);
        box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 1px rgba(0,0,0,0.5);
        border: 1px solid #808D53;
        border-radius: 5px;
    }
    to {
        width: var(--navbarLong);
        margin:auto;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
        border-radius: 0;
    }
}

.separated {
    animation-name: separate-navbar;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-duration: 0.5s;
    will-change: transform;
}

@keyframes separate-navbar {
    from {
        width: var(--navbarLong);
        margin:auto;
        background-color: transparent;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        border: none;
        border-radius: 0;
    }
    to {
        width: var(--navbarShort);
        margin: 1em auto 0 auto;
        background-color: #617129;
        -webkit-box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 1px rgba(0,0,0,0.5);
        -moz-box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 1px rgba(0,0,0,0.5);
        box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 1px rgba(0,0,0,0.5);
        border: 1px solid #808D53;
        border-radius: 5px;
    }
}

.tan {
    color: #E9E49D;
}

.navbar a {
    font-size: 5em;
    font-family: 'Asar', serif;
    text-shadow: 0 3px 5px #333;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #000;
}

.navbar .dropdown-item {
    font-size: 1em;
}

.embedded .dropdown-item:hover {
    background-color: #617129;
    color: #E9E49D;
}

.separated .dropdown-item:hover {
    background-color: #E9E49D;
    color: #000;
}

.embedded .dropdown-divider {
    border-top: 1px solid #F1EEC4;
    box-shadow: 0 0 5px 0 #8B885E;
}

.separated .dropdown-divider {
    border-top: 1px solid #808D53;
    box-shadow: 0 0 5px 0 #3A4318;
}

.embedded .dropdown-menu {
    background-color: #E9E49D;
    border-width: 1px;
    border-color: #F1EEC4;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0 #8B885E, 0 3px 5px 1px rgba(0,0,0,0.5);;
}

.separated .dropdown-menu {
    background-color: #617129;
    border-width: 1px;
    border-color: #808D53;
    border-radius: 5px;
    box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 1px rgba(0,0,0,0.5);;
}

.navbar a:hover, .navbar a:active {
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #FA8334;
}

.nav-link {
    padding-bottom: 2px;
    margin-bottom: 6px;
}

/* Progress bar */
.progress-container {
    width: 100%;
    height: 1px;
    background: #000;
    box-shadow: 0 3px 5px 0 #333;
}

#my-bar {
    height: 1px;
    background: #FA8334;
    width: 0;
}

/* Animated underline effect */
.animated-underline {
    position: relative;
    color: #000;
    text-decoration: none;
}

.animated-underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0.2em;
    left: 0;
    background: #FA8334;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(24, 95%, 59%, 0.25)), color-stop(50%, hsla(24, 95%, 59%, 1)), color-stop(100%, hsla(24, 95%, 59%, 0.25)));
    background: -webkit-linear-gradient(left, hsla(24, 95%, 59%, 0.25) 0%, hsla(24, 95%, 59%, 1) 50%, hsla(24, 95%, 59%, 0.25) 100%);
    background: -moz-linear-gradient(left, hsla(24, 95%, 59%, 0.25) 0%, hsla(24, 95%, 59%, 1) 50%, hsla(24, 95%, 59%, 0.25) 100%);
    background: -ms-linear-gradient(left, hsla(24, 95%, 59%, 0.25) 0%, hsla(24, 95%, 59%, 1) 50%, hsla(24, 95%, 59%, 0.25) 100%);
    background: -o-linear-gradient(left, hsla(24, 95%, 59%, 0.25) 0%, hsla(24, 95%, 59%, 1) 50%, hsla(24, 95%, 59%, 0.25) 100%);
    background: linear-gradient(left, hsla(24, 95%, 59%, 0.25) 0%, hsla(24, 95%, 59%, 1) 50%, hsla(24, 95%, 59%, 0.25) 100%);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.animated-underline:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.animated-underline:after {
    content: "";
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 2px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .25)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    filter: blur(1px);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.animated-underline:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


/* general button effects */
.btn, .btn:visited {
    background-color: #617129 !important;
    color: #000;
    font-family: 'Asar', serif;
    border-width: 1px !important;
    border-color: #808D53 !important;
    border-radius: 5px !important;
    -webkit-box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 0 rgba(0,0,0,0.5) !important;
    -moz-box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 0 rgba(0,0,0,0.5) !important;
    box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 0 rgba(0,0,0,0.5) !important;
    text-shadow: 0 3px 5px #333;
    will-change: transform;
}

.btn:active {
    transition: 0.333s;
    border-color: #FA8334 !important;
    -webkit-box-shadow: inset 0 0 5px 0 #3A4318, 0 1px 1px 0 rgba(0,0,0,0.5) !important;
    -moz-box-shadow: inset 0 0 5px 0 #3A4318, 0 1px 1px 0 rgba(0,0,0,0.5) !important;
    box-shadow: inset 0 0 5px 0 #3A4318, 0 1px 1px 0 rgba(0, 0, 0, 0.5) !important;
}

.btn:hover {
    transition: 0.333s;
    color: #FA8334;
    border-color: #FA8334 !important;
}

.btn:focus {
    transition: 0.333s;
    border-color: #FA8334 !important;
}

/* overlays */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0;
    width: 100%;
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow: hidden; /* Disable scroll */
    /*-webkit-transform: scaleX(1);*/
    /*transform: scaleX(1);*/
    transition: 333ms ease-in-out;
    will-change: transform;
}

.overlay-content {
    /*top: 5%; !* 5% from the top *!*/
    max-width: 90%; /* 90% width */
    max-height: 90%; /* 90% height */
    text-align: center; /* Centered text/links */
    margin: 0 auto;
}

.overlay-scrollable {
    overflow: auto;
}

.overlay-scrollable::-webkit-scrollbar {
    width: 6px;
    background-color: #E9E49D;
}

.overlay-scrollable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #FA8334;
}

.logos {
    height: 10%;
    width: 10%;
    margin: 5px;
}

#logo-container {
    margin: 5em;
}

.overlay p {
    text-decoration: none;
    color: #E9E49D;
    display: block; /* Display block instead of inline */
    /*transition: 0.3s; !* Transition effects on hover (color) *!*/
}

.overlay a {
    font-size: 5em;
    margin: 0.25em;
    color: #FA8334;
}

.overlay a:hover {
    transition: 0.333s;
    color: #E9E49D;
}

.overlay .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.9);
    border: #FA8334 1px solid;
    border-radius: 5px;
}

.overlay .dropdown-item {
    font-size: 1em;
    margin: 0;
}

.overlay .dropdown-divider {
    border-top: 1px solid #FA8334;
}

.overlay .dropdown-item:hover {
    transition: 0.333s;
    color: #000;
    background-color: #E9E49D;
}

.overlay .closebtn {
    position: absolute;
    top: 0;
    left: 0.33em;
    font-size: 2vw;
    font-weight: bold;
}

.overlay-title {
    margin-top: 0;
    padding-top: 0;
    color: #FA8334;
}

.dropup {
    display: inline;
}

/*.about-links {*/
/*    margin-top: 3vw;*/
/*}*/

/*.about-links a {*/
/*    margin: 0.5vw;*/
/*}*/

.photo {
    height: 20vh;
    width: auto;
    margin: 2em 2em 2em 1em;
    float: left;
}

/* ??? */
.container {
    padding: 0;
}

/* main content and sidebar general*/
#row {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

/* sidebar layout */
.sidenav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-top: 1em;
    padding-left: 1em;
    font-size: 5em;
    z-index: 1;
}

.sidenav-text {
    padding: 0;
    font-family: 'Asar', serif;
    text-decoration: none;
    color: #000;
    text-shadow: 0 3px 5px #666;
    transition-duration: 0.333s;
}

.sidenav-text:hover, .sidenav-text.hover {
    transition-duration: 0.333s;
    text-shadow: 0 1px 3px #000000;
    text-decoration: none;
    color: #FA8334;
}

.sidenav-text:active, .sidenav-text.active {
    transition-duration: 0.333s;
    text-shadow: 0 1px 3px #000000;
}

.list-group-item {
    background-color: transparent;
    border: none;
    padding: 0;
    text-align: center;
}

.sidebar-content {
    margin-top: 4.3em;
    margin-left: 3px;
    margin-right: 3px;
}

.nav-link.active {
    color: #FA8334;
}

/* main content space */
.main {
    margin: 0;
    padding: 0 0 0 1.5em;
    overflow: auto;
}

/* carousel layout */

#theCarousel {
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 7em;
    overflow: hidden;
}

.tilt-in-fwd-br {
    -webkit-animation: tilt-in-fwd-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: tilt-in-fwd-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes tilt-in-fwd-br {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
        transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}
@keyframes tilt-in-fwd-br {
    0% {
        -webkit-transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
        transform: rotateY(20deg) rotateX(-35deg) translate(300px, 300px) skew(35deg, -10deg);
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
        opacity: 1;
    }
}

#sb-wrapper {
    width: 100%;
    margin: auto;
    padding: 10em 20em 0 20em;
}

/* text sections */

hr {
    margin-top: 0.5em;
    margin-bottom: 0;
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .75)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .75) 50%, hsla(0, 0%, 0%, 0) 100%);
}

hr.hr-shadow {
    margin-top: 3px;
    margin-bottom: 0.5em;
    border: 0;
    height: 2px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .25)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .25) 50%, hsla(0, 0%, 0%, 0) 100%);
    filter: blur(1px);
}

.text-section {
    font-size: 500%;
    text-shadow: 0 0 3px #999;
    padding: 0.75em;
    margin-top: 0.5em;
}

.text-section > h1 {
    font-family: 'Asar', sans-serif;
    text-shadow: 0 0 3px #000;
    color: #FA8334;
}

.left {
    text-align: right;
}

#section1photo {
    max-width: 20%;
    float: right;
    margin-left: 0.5em;
    text-align: center;
}

#main-photo {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.thumbnail-and-button-right {
    max-width: 40%;
    float: right;
    margin-left: 0.5em;
    text-align: center;
}

.thumbnail-and-button-left {
    max-width: 40%;
    float: left;
    margin-right: 2em;
    text-align: center;
}

.thumbnail {
    width: 100%;
    margin-bottom: 0.5em;
    border-radius: 5px;
}

.thumbnail:hover {
    border: 1px #FA8334 solid;
}

/* project screenshot overlay layout */
.screenshots-column {
    display: inline-block;
    width: 15%;
    padding: 5px;
}

/* style the images inside the grid */
.screenshots-column img {
    opacity: 0.8;
    cursor: pointer;
}

.screenshots-column img:hover {
    opacity: 1;
}

.screenshots-row {
    text-align: center;
}

/* clear floats after the columns */
.screenshots-row:after {
    content: "";
    display: table;
    clear: both;
}

/* expanding image container */
.screenshots-container {
    position: relative;
    display: block;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* expanding image text */
.screenshots-imgtext {
    bottom: 5px;
    color: #FA8334;
    font-size: 20px;
    margin: 0.5em auto 0;
}

/* shake effect */
.shaky:hover {
    -webkit-animation: shake 0.3s linear infinite both;
    animation: shake 0.3s linear infinite both;
}

.shaky:active {
    animation: paused;
}

@-webkit-keyframes shake {
    0% {
        -webkit-transform: translate(0);
    }
    20% {
        -webkit-transform: translate(-1px, 1px);
    }
    40% {
        -webkit-transform: translate(-1px, -1px);
    }
    60% {
        -webkit-transform: translate(1px, 1px);
    }
    80% {
        -webkit-transform: translate(1px, -1px);
    }
    100% {
        -webkit-transform: translate(0);
    }
}

@keyframes shake {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-1px, 1px);
    }
    40% {
        transform: translate(-1px, -1px);
    }
    60% {
        transform: translate(1px, 1px);
    }
    80% {
        transform: translate(1px, -1px);
    }
    100% {
        transform: translate(0);
    }
}

/* shadow effect */
.my-shadow {
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);
}

.my-shadow:active {
    -webkit-box-shadow: 0 1px 1px 0 rgba(1, 1, 1, 0.5);
    -moz-box-shadow: 0 1px 1px 0 rgba(1, 1, 1, 1.5);
    box-shadow: 0 1px 1px 0 rgba(1, 1, 1, 0.5);
}

.text-shadow {
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}


/* font sizing, headings and carousel indicators for smallest screens */
@media screen and (max-width: 400px) {

    body {
        font-size: 20%;
    }

    h1 {
        font-size: 1.37em;
    }

    .overlay p {
        padding: 1px;
        font-size: 4.25vw;
    }

    .overlay a {
        font-size: 5vw;
    }

    .overlay .closebtn {
        font-size: 10vw;
    }

    .carousel-caption.upper h2 {
        font-size: 6em;
        margin: 0;
    }

    .carousel-caption.upper h5 {
        font-size: 4em;
    }

    .carousel-caption.lower {
        bottom: 0;
        padding: 0;
    }

    .carousel-caption.lower a {
        margin: 0.1em;
        padding: 0.3em;
        font-size: 4em;
    }

    .carousel-indicators {
        margin: 0;
    }

    #section1photo {
        max-width: 35%;
    }
}

/* text sizing for small screens */
@media screen and (min-width: 401px) and (max-width: 600px) {

    h1 {
        font-size: 1.47em;
    }

    .overlay p {
        font-size: 3.75vw;
    }

    .overlay .closebtn {
        font-size: 7.5vw;
    }

    .carousel-caption.upper h2 {
        font-size: 7em;
        margin: 0;
    }

    .carousel-caption.upper h5 {
        font-size: 4em;
    }

    .carousel-caption.lower {
        bottom: 0;
        padding: 0;
    }

    .carousel-caption.lower a {
        margin: 0.2em;
        padding: 0.35em;
        font-size: 4.5em;
    }

    .carousel-indicators {
        margin: 0.5em;
    }

    #section1photo {
        max-width: 30%;
    }
}

/* text sizing for medium screens */
@media screen and (min-width: 601px) and (max-width: 800px) {
    .overlay p {
        font-size: 3.0vw;
    }

    .overlay .closebtn {
        font-size: 6vw;
    }
}

/*!* prevent main content shift when sidebar is not displayed *!*/
/*@media screen and (min-width: 991px) {*/

/*    .main {*/
/*        margin: 0;*/
/*        padding: 0 0 0 1em;*/
/*        overflow: auto;*/
/*    }*/
/*}*/

/* text sizing for large screens */
@media screen and (min-width: 801px) and (max-width: 1200px) {
    .overlay p {
        font-size: 2vw;
    }
}

/* text sizing for extra large screens */
@media screen and (min-width: 1201px) {
    .overlay p {
        font-size: 1.25vw;
    }
}