.sb-shadow {
	width: 100%;
	height: 168px;
	position: relative;
	margin-top: -110px;
	background: transparent url(../images/shadow.png) no-repeat bottom center;
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	display: none;
}

.sb-description h3 {
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
}

.sb-description h3 a {
	color: #4a3c27;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.nav-arrows {
	display: none;
}

.arrow {
	/*background-color: #617129;*/
	/*left: 3.5%;*/
	/*text-indent: -9000px;*/
	/*box-shadow: 0 3px 5px 1px rgba(0,0,0,0.5);*/
	/*background: #cbbfae url(../images/nav.png) no-repeat top left;*/
	/*border-radius: 50%;*/
	/*box-shadow: 0 1px 1px rgba(255,255,255,0.8);*/
	position: absolute;
	top: 0;
	width: 50px;
	height: 83.15%;
	background-color: #617129;
	border: 1px solid #808D53;
	box-shadow: inset 0 0 5px 0 #3A4318, 0 3px 5px 0 rgba(0,0,0,0.5);
	color: #FA8334;
	text-shadow: -1px -1px 1px #FB9B5C, 1px 1px 1px #7D411A;
	margin-top: 5.3%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 0;
	cursor: pointer;
	font-size: 15em;
}

.arrow:active {
	box-shadow: inset 0 0 5px 0 #3A4318, 0 1px 1px 0 rgba(0,0,0,0.5);
	text-shadow: -1px -1px 1px #3A4318, 1px 1px 1px #808D53;
}

.arrow-left {
	left: 3%;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	/*border-radius: 100% / 50%;*/
	/*border-top-left-radius: 0;*/
	/*border-bottom-left-radius: 0;*/
}

.arrow-right {
	right: 3%;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
	/*border-radius: 100% / 50%;*/
	/*border-top-right-radius: 0;*/
	/*border-bottom-right-radius: 0;*/
}

.nav-dots {
	text-align: center;
	position: absolute;
	bottom: -5px;
	height: 30px;
	width: 100%;
	left: 0;
	display: none;
}

.nav-dots span {
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	margin: 3px;
	background: #617129;
	cursor: pointer;
	box-shadow: 
		0 1px 1px rgba(241, 238, 196, 0.9),
		inset 0 1px 1px rgba(0,0,0,0.5);
}

.nav-dots span.nav-dot-current {
	box-shadow: 
		0 1px 1px rgba(241, 238, 196, 0.9),
		inset 0 1px 1px rgba(0,0,0,0.5),
		inset 0 0 0 3px #617129,
		inset 0 0 0 8px #FA8334;
}